body {
  background-color: #1f2225;
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.primary {
  background-color: #d37172;
}

.parallax-image {
  background: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(img/supremejpg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.navbar {
  opacity: 70%;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar:hover {
  opacity: 90%;
  background-color: #111 !important;
}

.scrolling-box {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.weapon {
  margin-top: 0px;
  background-color: #111;
  text-align: center;
  padding: 10px;
}

h1.weapon {
  font-size: 50px;
  text-shadow: 2px 2px 1px #d37172;
  font-family: "Orbitron", sans-serif;
}

.list-group-item {
  background-color: transparent;
  color: #d8dee4;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  border: none;
}

.list-group-item span {
  display: block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
}

.list-group-item span:hover {
  background-color: #d37172;
  color: #d8dee4;
}
.list-group-item span:visited {
  background-color: #d37172;
}

.bike-type {
  float: left;
  height: 331px;
}

.bike-type img {
  max-height: 332px;
}

.bg-dark {
  background-color: #000000;
}

.test {
  border: 1px solid black;
  height: 230px;
}

.type-image {
  height: 20px;
  width: 20px;
}

footer {
  background-color: #000;
}
