body {
  background-color: #1f2225;
  color: #efefef;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}

.navbar {
  opacity: 70%;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar:hover {
  opacity: 90%;
  background-color: #d37172 !important;
}

.weapon {
  margin-top: 0px;
  background-color: #111;
  text-align: center;
  padding: 10px;
}

h1.weapon {
  font-size: 50px;
  text-shadow: 2px 2px 1px #d37172;
  font-family: "Orbitron", sans-serif;
}

.list-group-item {
  background-color: transparent;
  color: #d8dee4;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.list-group-item span {
  display: block;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5px;
}

.list-group-item span:hover {
  background-color: #d37172;
  color: #d8dee4;
}
.list-group-item .active {
  border-color: #d37172;
}

.bike-type {
  float: left;
  height: 331px;
  border: 1px solid black;
}

.bike-type img {
  max-height: 332px;
}

.bg-dark {
  background-color: #000000;
}

.test {
  border: 1px solid black;
  height: 230px;
}

.type-image {
  height: 20px;
  width: 20px;
}
